.form {
  position: relative;
}

.form input {
  display: block;
}

.form label {
  display: flex;
  justify-content: space-between;
}

.form label span {
  color: var(--strawberry-red);
}

.form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: var(--marine-blue);
  outline: none;
  cursor: pointer;
}

.form input + label {
  margin-top: 1.5rem;
}

.form input::placeholder {
  color: var(--cool-gray);
}

.form input:hover,
.form input:focus {
  border-color: var(--purplish-blue);
}

.form label {
  margin-bottom: 0.5rem;
  color: var(--marine-blue);
  font-weight: 500;
  cursor: pointer;
}

:global input.error {
  border-color: var(--strawberry-red);
}

.form button {
  position: absolute;
  right: 0;
  bottom: -9.5rem;
}
